<div class="modal fade" id="projectModal" ng-controller="PortfolioCtrl">
	<div class="modal-dialog">
		<div class="modal-content">


			<div class="panel panel-default" ng-show="signedIn()">
				<div class="panel-heading">
					<h3 class="panel-title">Add a New Entry</h3>
				</div>
				<div class="panel-body">
					<form ng-submit="createProject(project)">
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-pencil"></span></div>
							<input type="text" ng-model="project.title" placeholder="Title" required class="form-control" />
						</div>
						<br />
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-gear"></span></div>
							<input type="text" ng-model="project.tech" placeholder="Built With" required class="form-control" />
						</div>
						<br />
						<label>Launch Date:</label>
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>
							<input type="date" ng-model="project.launch" placeholder="Launched" required class="form-control" />
						</div>
						<br />
						<div class="input-group">
							<div class="input-group-addon"><span class="glyphicon glyphicon-picture"></span></div>
							<cp-file-picker max-height="400" max-width="800" ng-model="project.image" accept="image/*">Upload an Image</cp-file-picker>
						</div>
						<br />
						<div class="input-group project-preview">
							<cp-preview></cp-preview>
						</div>
						<input class="btn btn-primary" type="submit" value="Submit">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
