<div class="row" ng-hide="posts && posts.length > 0">
	<div class="col-md-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">Posts</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-6 col-md-offset-3">
						There seems to be no posts!
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row" ng-repeat="post in posts | orderBy: 'datetime':true">
	<div class="col-md-12">
		<div class="panel panel-inverse">
			<div class="panel-heading">
				<h3 class="panel-title">
					{{post.title}} <small>&mdash; by {{post.author}} <i ng-if="post.edited">(edited)</i></small>
					<span class="badge pull-right" ng-show="signedIn" ng-click="deletePost(post)">delete</span>
				</h3>
			</div>
			<div class="panel-body">
				<div ng-bind-html="post.content"></div>
				<a ng-href="#/blog/{{post.$id}}" class="btn btn-primary pull-right">Read More &rarr;</a>
			</div>
		</div>
	</div>
</div>