<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="panel panel-primary">
			<div class="panel-heading clearfix">
				<h3 class="panel-title">Login
					<a class="badge pull-right" href="#/register">Register</a>
				</h3>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
						<form ng-submit="login(user)">
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-envelope"></span>
								</div>
								<input type="email" ng-model="user.email" placeholder="Email" class="form-control" required />
							</div>
							<br />
							<div class="input-group">
								<div class="input-group-addon">
									<span class="glyphicon glyphicon-lock"></span>
								</div>
								<input type="password" ng-model="user.password" placeholder="Password" class="form-control" required />
							</div>
							<br />
							<div class="input-group"><input type="submit" value="Login" class="btn btn-primary"></div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>